:root {
  --mainLight: #f3f3f3;
  --mainDark: #232528;
  --mainOrange: #ff9a57;
  --mainBlue: #674dff;
  --accentRed: #ff5757;
  --lightBlue: #709bff;
  --pitchBlack: #000000;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainLight) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Sriracha", cursive;
  letter-spacing: 0.3rem;
  transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.fix {
  display: flex;
  flex-flow: wrap;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainLight) !important;
  border: var(--mainLight) !important;
  border-radius: 50% !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainOrange);
}
